@import "fonts.css";

#login{
  font-family: 'Montserrat',sans-serif;
  background-image: url('../assets/header.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#login nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#login .nav-link{
  text-transform: uppercase;
  color: #fff;
}
#login .card.login{
  width: 300px;
  background-color: rgba(0, 0, 0, 0) !important;
  background-color: transparent !important;
  border: none;
}
#login .card.login .card-title{
  font-weight: 800;
}
#login .card.login .form-group input{
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  border: none;
}
#login .card-title img{
  height: 50px;
  width: auto;
}
